<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader"/>
  <div> <div>
    <form th:object="${orderSearch}" class="form-inline">
      <div class="form-group mb-2">
        <input type="text" th:field="*{memberName}" class="form- control" placeholder="회원명"/>
      </div>
      <div class="form-group mx-sm-1 mb-2">
        <select th:field="*{orderStatus}" class="form-control">
          <option value="">주문상태</option>
          <option th:each=
                          "status : ${T(com.example.jpabook.domain.OrderStatus).values()}"
                  th:value="${status}"
                  th:text="${status}">
          </option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary mb-2">검색</button> </form>
  </div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>회원명</th> <th>대표상품 이름</th> <th>대표상품 주문가격</th>
        <th>대표상품 주문수량</th> <th>상태</th> <th>일시</th> <th></th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="item : ${orders.content}">
        <td th:text="${item.orderId}"></td>
        <td th:text="${item.name}"></td>
        <td th:text="${item.orderItems[0].itemName}"></td>
        <td th:text="${item.orderItems[0].orderPrice}"></td>
        <td th:text="${item.orderItems[0].count}"></td>
        <td th:text="${item.orderStatus}"></td>
        <td th:text="${item.orderDate}"></td>
        <td>
          <a th:if="${item.orderStatus.name() == 'ORDER'}" href="#"
             th:href="'javascript:cancel('+${item.orderId}+')'"
             class="btn btn-danger">CANCEL</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div th:if="${!orders.content.isEmpty()}">
    <nav
            th:with="
                pageNumber = ${orders.pageable.pageNumber},
                pageSize = ${orders.pageable.pageSize},
                pageBlock = ${orders.pageable.pageSize/2},
                totalPages = ${orders.totalPages},
                startPage = ${T(java.lang.Math).floor(pageNumber / pageBlock) * pageBlock + 1},
                tempEndPage = ${startPage + pageBlock - 1},
                endPage = (${tempEndPage < totalPages ? tempEndPage : totalPages})"
            aria-label="Page navigation">

      <ul class="pagination">
        <!-- 처음으로 이동 -->
        <li th:classappend="${pageNumber < pageSize} ? 'disabled'" class="page-item">
          <a class="page-link" th:href="@{/orders(page=0,memberName=${orderSearch.memberName},orderStatus=${orderSearch.orderStatus})}">
            <span>&laquo;</span>
            <span class="sr-only">First</span>
          </a>
        </li>

        <!-- 이전으로 이동 -->
        <li th:classappend="${orders.first} ? 'disabled'" class="page-item">
          <a class="page-link" th:href="${orders.first} ? '#' : @{/orders(page=${pageNumber - 1},memberName=${orderSearch.memberName},orderStatus=${orderSearch.orderStatus})}" aria-label="Previous">
            <span aria-hidden="true">&lt;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>

        <!-- 특정 페이지로 이동 -->
        <li th:each="page: ${#numbers.sequence(startPage, endPage)}" th:classappend="${page == pageNumber + 1} ? 'active'" class="page-item">
          <a th:text="${page}" class="page-link" th:href="@{/orders(page=${page - 1},memberName=${orderSearch.memberName},orderStatus=${orderSearch.orderStatus})}"></a>
        </li>

        <!-- 다음으로 이동 -->
        <li th:classappend="${orders.last} ? 'disabled'" class="page-item">
          <a class="page-link" th:href="${orders.last} ? '#' : @{/orders(page=${pageNumber + 1},memberName=${orderSearch.memberName},orderStatus=${orderSearch.orderStatus})}" aria-label="Next">
            <span aria-hidden="true">&gt;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>

        <!-- 마지막으로 이동 -->
        <li th:classappend=" ${T(java.lang.Math).floor(totalPages / pageSize) * pageSize - 1 <= startPage} ? 'disabled'" class="page-item">
          <a class="page-link" th:href="@{/orders(page=${totalPages - 1},memberName=${orderSearch.memberName},orderStatus=${orderSearch.orderStatus})}">
            <span>&raquo;</span>
            <span class="sr-only">Last</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
<script>
    function cancel(id) {
        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "/orders/" + id + "/cancel");
        document.body.appendChild(form);
        form.submit();
}
     </script>
</html>